.stcr-pagination-links {
	display: flex;
	flex-wrap: wrap;

	.stcr-page-link {
		display: block;
		padding: 5px 15px;
		margin-left: -1px;
		border: 1px solid #eaeaea;

		&:first-child {
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}

		&:last-child {
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}
}
